@charset "utf-8";
body {
  background-color: #F5F5F5;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
p,
a,
ul,
ol,
li,
label,
input{
  font-family: muli, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
}
h1, h2, h3, h4, h5 {
  font-family: karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
#header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #FFFFFF;
  border-bottom: 4px solid #EB232F;
}
#header h1 {
  font-family: aguafina-script;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: none;
}
#navigation {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#navigation a {
  color: #EB232F;
}
.main {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  clear: both;
  overflow: auto;
  max-width: 1140px;
}
.main #main-right {
  float: right;
  width: 37.5%;
  display: block;
}
.main #main-left {
  float: left;
  width: 57%;
  display: block;
  padding-right: 20px;
}
.main #main-right .cta {
  text-align: center;
}
.main #main-right .form {
  width: 92%;
  margin-right: auto;
  margin-left: auto;
}
#main-right .form div {
  margin-bottom: 10px;
}
#main-right .form .label {
}
#main-right .form .textfield {
  width: 100%;
}
.main #main-right #button {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  padding-right: 36px;
  padding-left: 36px;
  border: none;
  background-color: #EB232F;
  color: #FFFFFF;
  cursor: pointer;
}
.footer {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}